<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.eddy.startbots</string>

    <key>ProgramArguments</key>
    <array>
			<string>/Users/eddy/projects/botify/.local/bin/start_all_bots.sh</string>
    </array>

    <!-- Run it as soon as the user logs in -->
    <key>RunAtLoad</key>
    <true/>

    <!-- Ensure the script keeps running even if it tries to quit -->
    <key>KeepAlive</key>
    <false/>
	<key>StandardOutPath</key>
		<string>/Users/eddy/Library/Logs/startbots.out.log</string>
	<key>StandardErrorPath</key>
		<string>/Users/eddy/Library/Logs/startbots.err.log</string>
</dict>
</plist>

